header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height:  100%;
    position: relative;
}

/* ------------------- CTA ------------------------*/
.cta {
    margin-top: 3rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ------------------- HEADER SOCIALS ------------------------*/

.header_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;    
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_social::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* -------------------ME------------------------*/
.me{
    background-color: var(--color-primary);
    width: 20rem;
    height: 19rem;
    position: absolute;
    left: calc(50% - 10rem);
    margin-top: 4rem;
    border-radius: 50%;
    overflow: hidden;
    padding:  0rem 0rem;
}

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(45deg);
    font-weight: 300;
    font-size: 0.9rem;
}
.scroll_up {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(135deg);
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

/*-----------------------------------------------Media Querry (Medium Devices)------------------------------*/
@media screen and (max-width:1024px) {
}


/*-----------------------------------------------Media Querry (Small Devices)------------------------------*/
@media screen and (max-width:600px) {
  
  .header_socials,
.scroll_down {
    display: none;
}
.header_socials,
.scroll_up {
    display: none;
}
.header_social {
    display: none;
}

}

